/* Colores representativos de la Registraduría Nacional de Colombia */
:root {
    --primary-color: #003366;
    /* Azul oscuro */
    --secondary-color: #ffcc00;
    /* Amarillo */
    --background-color: #e0e0e0;
    /* Gris claro */
    --text-color: #333333;
    /* Gris oscuro */
    --white-color: #ffffff;
    /* Blanco */
    --highlight-color: #0078d7;
    /* Azul brillante para énfasis */
}

/* Estilos básicos */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    color: var(--text-color);
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--white-color);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
}

header {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 20px;
    text-align: center;
    width: 100%;
    /* Asegurarse de que el header ocupe todo el ancho */
}

h1,
h2 {
    margin: 0;
    padding-bottom: 10px;
}

h1 {
    font-size: 2rem;
}

h2 {
    color: var(--primary-color);
    font-size: 1.5rem;
}

.nav-link {
    display: block;
    padding: 10px;
    color: var(--primary-color);
    text-decoration: none;
    border-bottom: 1px solid var(--background-color);
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: var(--highlight-color);
    color: var(--white-color);
}

.btn-primary {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 6px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
    background-color: #002244;
    /* Azul más oscuro */
    border-color: #002244;
}

.btn-secondary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--text-color);
    border-radius: 6px;
    padding: 10px 20px;
    transition: background-color 0.3s, border-color 0.3s;
}

.btn-secondary:hover {
    background-color: #e6b800;
    /* Amarillo más oscuro */
    border-color: #e6b800;
}

.table th {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.table td {
    background-color: var(--white-color);
    color: var(--text-color);
}

/* Estilos adicionales para el diseño Metro */
.list-group-item {
    background-color: var(--white-color);
    border: 1px solid var(--background-color);
    border-radius: 6px;
    margin-bottom: 10px;
    transition: background-color 0.3s, border-color 0.3s;
}

.list-group-item:hover {
    background-color: var(--highlight-color);
    border-color: var(--highlight-color);
    color: var(--white-color);
}