<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Detalle Grado {{ grado }} - Sección {{ seccion }} - Sede {{ sede }}</title>
    <!-- Incluir Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Incluir CSS personalizado -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="container mt-5">
        <header class="text-center bg-primary text-white py-4" style="border-radius: 6px 6px 0 0;">
            <h1>Grado {{ grado }} - Sección {{ seccion }} - Sede {{ sede }}</h1>
        </header>

        <div class="mt-5">
            <table class="table table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th>Número de Documento</th>
                        <th>Nombre</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for estudiante in estudiantes %}
                    <tr>
                        <td>{{ estudiante.numero_documento }}</td>
                        <td>{{ estudiante.nombre }}</td>
                        <td>
                            <form method="post" class="d-inline">
                                <input type="hidden" name="estudiante_id" value="{{ estudiante.id }}">
                                <input type="text" name="nombre" value="{{ estudiante.nombre }}" required
                                    class="form-control mb-2">
                                <input type="text" name="numero_documento" value="{{ estudiante.numero_documento }}"
                                    required class="form-control mb-2">
                                <button type="submit" name="modificar" class="btn btn-primary btn-sm">Modificar</button>
                            </form>
                            <form method="post" class="d-inline">
                                <input type="hidden" name="estudiante_id" value="{{ estudiante.id }}">
                                <button type="submit" name="eliminar" class="btn btn-danger btn-sm">Eliminar</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a href="{{ url_for('index') }}" class="btn btn-secondary mt-3">Volver al inicio</a>
        </div>
    </div>
</body>

</html>