<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sistema de Votación</title>
</head>

<body>
    <!-- Encabezado del sitio -->
    <h1>Bienvenido al Sistema de Votación</h1>
    <a href="{{ url_for('agregar_sede') }}">Administrar Sedes y Mesas</a><br>
    <a href="{{ url_for('registro_estudiante') }}">Registrar Estudiante</a><br>
    <a href="{{ url_for('registro_profesor') }}">Registrar Profesor</a><br>
    <a href="{{ url_for('asignar_mesas') }}">Asignar Mesas a Grados</a><br>
    <a href="{{ url_for('registro_candidato') }}">Registrar Candidato</a><br>
    <a href="{{ url_for('sorteo_jurados') }}">Sorteo de Jurados</a><br>
    <a href="{{ url_for('reemplazo_jurados') }}">Reemplazo de Jurados</a><br>
    <a href="{{ url_for('asignar_testigos') }}">Registrar Testigo</a><br>

</body>

</html>