<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sorteo de Jurados</title>
    <style>
        .info-box {
            margin-top: 20px;
            padding: 10px;
            border: 1px solid #ccc;
            background-color: #f9f9f9;
        }

        .checkbox-container {
            display: flex;
            flex-wrap: wrap;
        }

        .checkbox-container label {
            width: 50px;
            /* Ajusta según sea necesario */
            margin-right: 10px;
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
        }
    </style>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            sortCheckboxes();
        });

        function sortCheckboxes() {
            const container = document.querySelector('.checkbox-container');
            const checkboxes = Array.from(container.querySelectorAll('label'));

            checkboxes.sort((a, b) => {
                const numA = parseInt(a.querySelector('input').value, 10);
                const numB = parseInt(b.querySelector('input').value, 10);
                return numA - numB;
            });

            checkboxes.forEach(checkbox => container.appendChild(checkbox));
        }

        function calcularJuradosNecesarios() {
            var juradosPorMesa = document.getElementById('jurados_por_mesa').value;
            var mesasPorSede = JSON.parse('{{ sedes|tojson|safe }}');
            var infoBox = document.getElementById('info_box');
            infoBox.innerHTML = "";

            var totalMesas = 0;
            var totalEstudiantes = 0;
            var totalProfesores = mesasPorSede.reduce((acc, sede) => acc + new Set(sede.mesas).size, 0); // Total de profesores igual a total de mesas

            mesasPorSede.forEach(function (sede) {
                var mesasSede = new Set(sede.mesas); // Asegurar unicidad de mesas por sede
                var juradosNecesarios = mesasSede.size * juradosPorMesa;
                totalMesas += mesasSede.size;
                totalEstudiantes += juradosNecesarios;
                var info = "<p>Sede " + sede.nombre + ": " + juradosNecesarios + " jurados necesarios para " + mesasSede.size + " mesas.</p>";
                infoBox.innerHTML += info;
            });

            var totalEstudiantesJurados = totalEstudiantes - totalProfesores;
            infoBox.innerHTML += "<p>Total de Mesas: " + totalMesas + "</p>";
            infoBox.innerHTML += "Estudiantes: " + totalEstudiantesJurados + "</p>";
            infoBox.innerHTML += "Profesores: " + totalProfesores + "</p>";
            infoBox.innerHTML += "Total de Jurados: " + totalEstudiantes + "</p>";
            calcularRemanentes(totalEstudiantesJurados);
        }

        function calcularRemanentes(totalEstudiantesJurados) {
            var porcentajeRemanentes = document.getElementById('porcentaje_remanentes').value;
            var totalJurados = parseInt(document.getElementById('info_box').innerText.match(/Total de Jurados: (\d+)/)[1]);
            var remanentes = Math.round(totalJurados * (porcentajeRemanentes / 100));
            var totalEstudiantesNecesarios = totalEstudiantesJurados + remanentes;
            var remanentesInfo = "<p>Remanentes necesarios: " + remanentes + "</p>";
            var estudiantesNecesariosInfo = "<p>Número de estudiantes necesarios: " + totalEstudiantesNecesarios + "</p>";
            document.getElementById('info_box').innerHTML += remanentesInfo + estudiantesNecesariosInfo;
            actualizarNumeroEstudiantes(totalEstudiantesNecesarios);
        }

        function actualizarNumeroEstudiantes(totalEstudiantesNecesarios) {
            var gradosSeleccionados = Array.from(document.querySelectorAll('.checkbox-container input[type=checkbox]:checked'), checkbox => checkbox.value);
            var url = new URL('{{ url_for("numero_estudiantes") }}', window.location.origin);
            url.searchParams.append('grados', gradosSeleccionados.join(','));

            fetch(url)
                .then(response => response.json())
                .then(data => {
                    var estudiantesInfo = "<p>Número de estudiantes disponibles: " + data.numero_estudiantes + "</p>";
                    document.getElementById('info_box').innerHTML += estudiantesInfo;

                    // Verificar si los estudiantes disponibles son suficientes
                    if (data.numero_estudiantes < totalEstudiantesNecesarios) {
                        // Deshabilitar el botón si no hay suficientes estudiantes disponibles 
                        document.querySelector('button[name="fase"][value="Iniciar Primer Sorteo"]').disabled = true;
                    } else {
                        // Habilitar el botón si hay suficientes estudiantes disponibles
                        document.querySelector('button[name="fase"][value="Iniciar Primer Sorteo"]').disabled = false;
                    }
                })
                .catch(error => console.error('Error:', error));
        }
    </script>
</head>

<body>
    <h1>Sorteo de Jurados</h1>
    <form method="post" action="{{ url_for('sorteo_jurados') }}">
        <label for="jurados_por_mesa">Jurados por Mesa:</label>
        <input type="number" id="jurados_por_mesa" name="jurados_por_mesa" required
            oninput="calcularJuradosNecesarios()" value="{{ session.get('jurados_por_mesa', '') }}" {% if
            fase_1_completado or fase_2_completado or fase_3_completado %}disabled{% endif %}><br>

        <label for="porcentaje_remanentes">Porcentaje de Remanentes (%):</label>
        <input type="number" id="porcentaje_remanentes" name="porcentaje_remanentes"
            value="{{ session.get('porcentaje_remanentes', 12) }}" required oninput="calcularJuradosNecesarios()" {% if
            fase_1_completado or fase_2_completado or fase_3_completado %}disabled{% endif %}><br>

        <label for="grados">Seleccionar Grado(s):</label>
        <div class="checkbox-container" onchange="calcularJuradosNecesarios()">
            {% for grado in grados %}
            <label><input type="checkbox" name="grados" value="{{ grado }}" {% if grado in grados_seleccionados
                    %}checked{% endif %} {% if fase_1_completado or fase_2_completado or fase_3_completado %}disabled{%
                    endif %}>{{ grado }}</label>
            {% endfor %}
        </div><br>

        <button type="submit" name="fase" value="Iniciar Primer Sorteo" {% if fase_1_completado %}disabled{% endif
            %}>Simulacro 1</button>
        <button type="submit" name="fase" value="Realizar Segundo Sorteo" {% if not fase_1_completado or
            fase_2_completado %}disabled{% endif %}>Simulacro 2</button>
        <button type="submit" name="fase" value="Realizar Sorteo Definitivo" {% if not fase_2_completado or
            fase_3_completado %}disabled{% endif %}>Sorteo Final</button>
    </form>

    <div id="info_box" class="info-box">
        <!-- Aquí se mostrarán todas las informaciones combinadas -->
    </div>

    <h2>Sorteos Realizados</h2>
    {% if sorteos %}
    {% for sede in sedes %}
    <h3>{{ sede.nombre }}</h3>
    <table>
        <thead>
            <tr>
                <th>Mesa Número</th>
                <th>Estudiantes</th>
                <th>Profesor</th>
            </tr>
        </thead>
        <tbody>
            {% for sorteo in sorteos|sort(attribute='mesa_numero') if sorteo.sede_id == sede.id %}
            <tr>
                <td>{{ sorteo.mesa_numero }}</td>
                <td>
                    <ul>
                        {% for estudiante in sorteo.estudiantes %}
                        <li>{{ estudiante.numero_documento }} {{ estudiante.nombre }}</li>
                        {% endfor %}
                    </ul>
                </td>
                <td>{{ sorteo.profesor.numero_documento }} {{ sorteo.profesor.nombre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endfor %}
    {% else %}
    <p>No se han realizado sorteos todavía.</p>
    {% endif %}


    <h2>Remanentes</h2>
    <ul>
        {% for remanente in remanentes %}
        <li>{{ remanente.numero_documento }} {{ remanente.nombre }}</li>
        {% endfor %}
    </ul>
</body>

</html>